GEMINI_API_KEY=

WEATHER_API_KEY=

WHATSAPP_API_KEY=
WHATSAPP_VERIFY_TOKEN=
PHONE_NUMBER_ID=

VERTEX_PROJECT_ID=
VERTEX_LOCATION=
VERTEX_COLLECTION=
VERTEX_ENGINE_ID=
VERTEX_SERVING_CONFIG=
VERTEX_PROMPT_SEC=
VERTEX_MODEL_VERSION=